In [ ]:
import numpy as np

# Numpy
- C 언어로 구현된 파이썬 라이브러리로써, 고성능의 수치 계산을 위해 만들어짐
- 벡터 및 행렬 연산에 있어서 편리한 기능 제공
- 다차원 배열 객체 지원
- 데이터에 대한 빠른 연산 가능
- pandas 와 matplotlib의 기반으로 사용

### ndarray 생성

In [ ]:
list1 = [0, 1, 2, 3, 4]
arr1 = np.array(list1)
print(arr1)
print(type(arr1))

list2 = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9]]
arr2 = np.array(list2)
print(arr2)
print(type(arr2))

In [ ]:
#랜덤값으로 배열 생성(난수생성)
data = np.random.randn(2, 3) # 2행 3열
print(data)
print("max of arr:", np.max(data))
print("min of arr:", np.min(data))

In [ ]:
# 초기화된 배열도 생성가능
arr = np.zeros([3,4])
print(arr.shape)
print(arr)

In [ ]:
# 초기화된 배열도 생성가능
arr = np.ones([3,4])
print(arr.shape)
print(arr)

### ndarray의 타입, 크기, 차원

In [ ]:
print("type : ", arr.dtype)
print("shape : ", arr.shape)
print("rank : ", arr.ndim)

In [ ]:
arr = np.reshape(arr, [2, 6])
print(arr)
print(arr.shape)

# ndarray의 연산

In [ ]:
print(arr)

In [ ]:
# arr + 1
print(arr + 1)

In [ ]:
# arr x 5
print(arr * 5)

In [ ]:
# arr / 2
print(arr / 2)

## Broadcasting : important!!
![nn](https://paris-swc.github.io/advanced-numpy-lesson/fig/numpy_broadcasting.png)

브로드캐스팅이 일어날 수 있는 조건은 다음과 같다.

(1) 차원의 짝이 맞을 때 가능하다
차원에 대해 축의 길이가 동일하면 브로드캐스팅이 가능하다.

두 번째 그림은 3x3 인 배열과 1x3인 배열의 연산이다. 조건을 만족하여 브로드캐스팅이 수행되었다. 1x3 배열이 브로드캐스팅되어 3x3 배열로 변형되어 연산이 수행되었다.

(2) 차원의 크기가 1일때 가능하다
두 배열 간의 연산에서 최소한 하나의 배열의 차원이 1이라면(0번 축이든 1번 축이든; 1행이든 1열이든) 가능하다.

세 번째 그림은 3x1 인 배열과 1x3인 배열의 연산이다. 조건을 만족하여 브로드캐스팅이 수행되었다. 3x1인 배열은 길이가 1인 차원에 대해 반복 확장되었고, 1x3인 배열도 마찬가지로 길이가 1인 차원에 대해 반복 확장되었고 확장된 두 배열 간에 연산이 일어났다.

reference : https://sacko.tistory.com/16

In [ ]:
arr1 = np.array([[1,2,3], [4,5,6]])
arr2 = np.array([10,11,12])
print(arr1+arr2)

# indexing

## (1) Indexing

In [ ]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])

In [ ]:
print(arr)

In [ ]:
print("1행 : ", arr[0])
print("2행 : ", arr[1])

In [ ]:
print("1열 : ", arr[:,0])
print("2열 : ", arr[:,1])

In [ ]:
print("1행 1열 : ", arr[0,0])
print("2행 2열 : ", arr[1,1])
print("3행 3열 : ", arr[2,2])

In [ ]:
# Boolean indexing
print(arr)
print(arr > 3)
print("boolean indexing :", arr[arr>3])

## (2) Slicing

In [ ]:
print(arr)
print(arr[:2, :3]) # 0,1행 + 0,1,2열로 slicing