#### 1. numpy 패키지 불러오기

In [ ]:
import numpy as np

#### 2. 리스트로부터 배열 생성

In [ ]:
my_list = [1,2,3,4]
arr = np.array(my_list)
arr

#### 3. 크기가 10인 zero 벡터 생성(단, 다섯번째 값은 1)

In [ ]:
Z = np.zeros(10)
Z[4] = 1
Z

In [ ]:
#유사하게, ones 함수로 one 벡터 생성
Z = np.ones([5,5])
Z

#### 4. 0-8까지의 정수로 이루어진 3X3 배열 생성

In [ ]:
x = np.arange(9)
x

In [ ]:
np.arange(9).reshape(3,3)

In [ ]:
np.reshape(x, (3,3))

#### 5. 난수로 이루어진 5x5 배열을 만들고 최댓값, 최솟값 찾기

In [ ]:
Z = np.random.random((5,5))
print (Z)
print (Z.min())
print (Z.max())

In [ ]:
np.min(Z)

In [ ]:
np.max(Z)

#### 5-1. 각 행별로 최솟값 찾기 + axis 개념도 함께 이해(매우 중요)

In [ ]:
Z.min(axis=1)

#### 6. 크기가 10인 random 벡터 오름차순 정렬

In [ ]:
Z = np.random.random(10)
print (Z)
Z.sort()
print(Z)

#### 7.  크기가 10인 random 벡터에서 값이 가장 클 때의 인덱스 찾기

In [ ]:
Z = np.random.random(10)
print (Z)
Z.argmax()

#### 7-1. 최댓값을 0으로 변경

In [ ]:
Z[Z.argmax()] = 0
print (Z)

#### 8. 행렬에서 각 행별 평균 빼기

In [ ]:
X = np.random.rand(3, 4)
Y = X - X.mean(axis=1, keepdims=True)
print (Y)

#### 9. [1,2,0,0,4,0]로부터 값이 0이 아닌 곳의 인덱스 찾기

In [ ]:
arr = np.array([1,2,0,0,4,0])
np.nonzero(arr)

#### 10. [-1,3,-2,4,5,7,9,10]로부터 음수값은 0으로 변경하기

In [ ]:
arr = np.array([-1,3,-2,4,5,7,9,10])
np.where(arr < 0, 0, arr)

### 10명의 키, 몸무게, 나이, 성별, 혈액형에 대한 데이터가 있다.

#### 1) 10명에 대한 키 배열을 생성하시오.(평균=170, 표준편차=10)

In [ ]:
mu, sigma = 170, 10 # mean and standard deviation
height = np.random.normal(mu, sigma, 10)
height

#### 2) 10명에 대한 몸무게 배열을 생성하시오. (0과 1사이 random number X 100)

In [ ]:
weight = np.random.rand(10) * 100
weight

#### 3) 10명에 대한 나이 배열을 생성하시오. [10, 80) 정수

In [ ]:
age = np.random.randint(10,80,size=10)
age

#### 4) 10명에 대한 성별 배열을 생성하시오. (0 : 남자, 1 : 여자)

In [ ]:
sex = np.random.randint(0,2,size=10)
sex

#### 5) 10명에 대한 혈액형 배열을 생성하시오. (0 : 'A', 1 : 'B', 2 : 'O', 3 : 'AB')

In [ ]:
blood = np.random.choice([0,1,2,3], size=10)
blood

#### 6) 10행 5행의 배열로 합치시오.

In [ ]:
info_arr = np.column_stack((height, weight, age, sex, blood))
info_arr

#### 7) 여성의 비율은?

In [ ]:
female = info_arr[:,3].sum()
total = len(info_arr[:,3])
print ('ratio of female :', (female/total) * 100)

#### 8) 여자이면서 B형인 사람의 수는?

In [ ]:
((info_arr[:,3] == 1) & (info_arr[:,4] == 2)).sum()

#### 9) 여자들의 키, 몸무게, 나이를 출력하시오. (with boolean indexing)

In [ ]:
info_arr[info_arr[:, 3] == 1, :3]

In [ ]:
## 참고 : 만약에 키, 나이, 혈액형만 보고 싶다면?
info_arr[info_arr[:, 3] == 1][:, [0,2,4]]

#### 10) 남자들의 키의 평균은?

In [ ]:
info_arr[info_arr[:, 3] == 0, 0].mean()

#### 11) 10명에 BMI에 대한 배열을 생성하시오. (BMI = weight[kg]/height[m]^2)

In [ ]:
height_m_sqr = (info_arr[:,0] * 0.01) ** 2
weight = info_arr[:,1]
BMI = weight / height_m_sqr

In [ ]:
BMI

Underweight: BMI is less than 18.5

Normal weight: BMI is 18.5 to 24.9

Overweight: BMI is 25 to 29.9

Obese: BMI is 30 or more