In [ ]:
import pandas as pd

# Pandas
- 높은 수준의 구조형 데이터 클래스와 데이터 분석 도구를 제공
- 표와 같은 스프레드시트 구조로 데이터를 다룰 수 있는 기능
- 색인을 사용하여 손쉽게 값에 접근하고 정렬하는 기능
- 누락된 데이터를 유연하게 처리할 수 있는 기능
- 데이터를 합치고 관계 연산을 수행하는 기능

<div class="row">
  <div class="column">
    <img src="https://storage.googleapis.com/lds-media/images/series-and-dataframe.original.png" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="https://bookdata.readthedocs.io/en/latest/_images/base_01_pandas_5_0.png" alt="Forest" style="width:100%">
  </div>
</div>

### Series 생성

In [ ]:
series = pd.Series([3,5,7,9], index=['a','b','c','d'])

In [ ]:
series

In [ ]:
series.values

In [ ]:
series.index

### dictionary로부터 Series 생성

In [ ]:
data = {'a':3, 'b':5, 'c':7, 'd':9}
series = pd.Series(data)

In [ ]:
series

### indexing, slicing and operation

In [ ]:
series['a']

In [ ]:
series[:2]

In [ ]:
series * 2 #broadcasting

## DataFrame

### DataFrame 생성

In [ ]:
data = {"state" : ['Ohio', 'Ohio', 'Ohio', 'Nevada','Nevada'],
        "year" : [2002, 2001, 2002, 2001, 2002],
        "pop" : [1.5, 1.7, 3.6, 2.4, 2.9]}

In [ ]:
frame = pd.DataFrame(data=data, columns=["year", "state", "pop"], index=['a', 'b', 'c', 'd', 'e'])

In [ ]:
frame

### column 추가

In [ ]:
val = pd.Series([-1.2, 1.5, -1.7], index=['b', 'c', 'e'])
frame['debt'] = val

In [ ]:
frame

### missing value(NA) 처리

In [ ]:
frame.dropna()

In [ ]:
frame.fillna(0.5)

### columns or rows 제거

In [ ]:
frame.drop('a', axis=0)

In [ ]:
frame.drop('debt', axis=1)

In [ ]:
frame = frame.drop('debt', axis=1) # assign to DataFrame object

### indexing, slicing and operation

### (1) access data columns

In [ ]:
frame["year"] # access data with column name

In [ ]:
print(type(frame["year"]))

In [ ]:
frame[['year', 'state']]

In [ ]:
print(type(frame[['year', 'state']]))

### (2) access data rows

In [ ]:
frame.iloc[0] # access data with row index

In [ ]:
frame.iloc[0:3] # slice data with index

In [ ]:
frame.loc['a':'c']

### slice data with column and index

In [ ]:
frame.iloc[0:2, 0:3] # slice data with column and index

In [ ]:
frame.loc['a':'c',"year":"pop"]