# Exam - Mini project

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called

In [ ]:
orders = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', 
                      sep='\t', index_col='order_id')

### Step 4. See the first 25 entries

In [ ]:
orders.head(25)

### Step 5. What is the number of observations and columns in the dataset?

In [ ]:
print(orders.shape[0])
print(orders.shape[1])

### Step 6. Print the name of all the columns and index

In [ ]:
print("columns : ", orders.columns)
print("index :", orders.index)

### Step 7. How many different menus there are in this dataset?

In [ ]:
len(orders.item_name.unique())

### Step 8.  Print only the menu column

In [ ]:
orders.item_name

#or

orders['item_name']

### Step 9. What is the data type of each column?

In [ ]:
orders.dtypes

### Step 10. how many orders does the restaurant accept?

In [ ]:
len(orders.index.unique())

### Step11. Change columns name
'item_name', 'item_price' to 'menu', 'menu_price'

In [ ]:
orders = orders.rename(columns={'item_name' : 'menu', 'item_price' : 'menu_price'})
orders

### Step 12. Change menu_price from string type to float type for analysis

In [ ]:
# solution 1
# for x in orders.menu_price.values:
#     print float(x[1:])

menu_price_list = [ float(x[1:]) for x in orders.menu_price.values]
orders['price'] = pd.Series(data = menu_price_list, index = orders.index)
orders

In [ ]:
# solution2
def price_to_float(x):
    return float(x[1:])

orders['price'] = orders['menu_price'].apply(price_to_float)
orders

### Step 13.  Print the columns 'quantity' , 'menu' and 'price' (Not assign to orders object)

In [ ]:
orders[['quantity', 'menu', 'price']]

### Step 14. Print the 'menu' and  'choice_description' columns from order_id 1000 (Not assign to orders object)

In [ ]:
orders.loc[1000, ['menu', 'choice_description']]

### Step 15. What is the most frequent menu? Consider quantity of each order.

## solution 1

In [ ]:
freq_menu = orders['menu'].unique()
freq_menu = pd.DataFrame(data = freq_menu, columns = ["menu"])
freq_menu['count'] = 0
freq_menu = freq_menu.set_index('menu')
freq_menu.head(10)

In [ ]:
for x in xrange( len(orders.menu) ):
    freq_menu.loc[orders.iloc[x].menu] = freq_menu.loc[orders.iloc[x].menu] + orders.iloc[x].quantity

freq_menu = freq_menu.sort_values(by = "count", ascending = False)
freq_menu.head(10)

## solution 2

In [ ]:
freq_menu = orders['menu'].unique()
freq_menu = pd.DataFrame(data = freq_menu, columns = ["menu"])
freq_menu['count'] = 0
freq_menu = freq_menu.set_index('menu')
freq_menu.head(10)

In [ ]:
freq_menu['count'] = orders.groupby('menu').quantity.sum()

freq_menu.sort_values(by = "count", ascending = False).head(10)

### Step 16.  Create a histogram of the top 5 menus ordered ( from Step 15 )

In [ ]:
from matplotlib import pyplot as plt

plot_data = freq_menu.iloc[0:5]
plot_data.plot(kind='bar')
plt.xlabel('menu')
plt.ylabel('frequency')
plt.title('Most ordered menu')

plt.show()

### BONUS: Create your own question and answer it.

# Step 17. Make x_data and y_data with number of menu and price for each order_id

In [ ]:
print(orders.groupby('order_id').quantity.sum().head(10))
print(orders.groupby('order_id').price.sum().head(10))

In [ ]:
x_data = orders.groupby('order_id').quantity.sum().values
print (x_data)

In [ ]:
y_data = orders.groupby('order_id').price.sum().values
print (y_data)

In [ ]:
import numpy as np
np.save('x_data', x_data)
np.save('y_data', y_data)

In [ ]:
x_train_data = np.load('x_data.npy')
y_train_data = np.load('y_data.npy')

In [ ]:
from matplotlib import pyplot as plt
plt.scatter(x_train_data,y_train_data)
plt.show()