# Ex1 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [ ]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', 
                      sep='|', index_col='user_id')

### Step 4. See the first 25 entries

In [ ]:
users.head(25)

### Step 5. See the last 10 entries

In [ ]:
users.tail(10)

### Step 6. What is the number of observations in the dataset?

In [ ]:
users.shape[0]

### Step 7. What is the number of columns in the dataset?

In [ ]:
users.shape[1]

### Step 8. Print the name of all the columns.

In [ ]:
users.columns

### Step 9. How is the dataset indexed?

In [ ]:
# "the index" (aka "the labels")
users.index

### Step 10. What is the data type of each column?

In [ ]:
users.dtypes

### Step 11. Print only the occupation column

In [ ]:
users.occupation 

#OR

users['occupation']

### Step 12. How many different occupations there are in this dataset?

In [ ]:
len(users.occupation.unique())

### Step 13. What is the most frequent occupation?

In [ ]:
users.occupation.value_counts().head()

### Step 14. Summarize the DataFrame.

In [ ]:
users.describe() #Notice is only the numeric column

### Step 15. What is the mean age of users?

In [ ]:
round(users.age.mean())

### Step 16. What is the age with least occurrence?

In [ ]:
users.age.value_counts().tail(1) #7 years, only 1 occurrence